#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 70px;
    font-size: 1.2rem;
    font-family: monospace;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    background-color: #faed27;
    color: black
  }
  
  @media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }
  